body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 20px 0;
}

.questao {
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h3 {
    color: #333;
    margin: 10px 0;
}

input[type="radio"] {
    margin: 5px 10px;
}

button {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
    transition: 1s;
}

p#resultado1 {
    color: #333;
    margin: 10px 0;
    font-weight: bold;
}

header {
    grid-area: cabe;
    background-color: #ccc;
}

aside {
    grid-area: brac;
    background-color: #ccc;
}

main {
    grid-area: prin;
    background-color: #ccc;
}

footer {
    grid-area: roda;
    background-color: #ccc;
}

section {
    grid-area: secn;
    background-color: #ccc;
}

body {
    display: grid;
    grid-template-areas:
        "cabe cabe"
        "brac prin"
        "roda roda";
    grid-template-rows:
        minmax(150px, auto) minmax(500px, auto) minmax(150px, auto);
    grid-template-columns:
        minmax(300px, auto) minmax(auto, 1fr);
}

header img {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: auto;
}

@media only screen and (max-width:820px) {
    body {
        grid-template-areas:
            "cabe"
            "brac"
            "prin"
            "roda";
        grid-template-columns:
            minmax(auto, 1fr);
        grid-template-rows:
            minmax(150px, auto) minmax(50px, auto) minmax(500px, auto) minmax(150px, auto);
    }

    header img {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    body {
        grid-template-areas:
            "secn"
            "prin"
            "roda";
        grid-template-columns:
            minmax(auto, 1fr);
        grid-template-rows:
            minmax(100px, auto) minmax(500px, auto) minmax(100px, auto);
    }


    aside {
        display: none;
    }

    header {
        display: none;
    }
}