body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    padding: 20px;
}

h1 {
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.questao {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    text-align: left;
}

h3 {
    color: #333;
    margin-top: 10px;
}

input[type="radio"] {
    margin: 5px 0;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2072b3;
    transition: 0.5s;
}

.verde{
    background-color: green;
    color: #f2f2f2;
}

.vermelho{
    background-color: red;
    color: #f2f2f2;
}